.welcome {
    -fx-font-size: 30px;
    -fx-font-family: monospace;
}

.title {
    -fx-font-size: 20px;
}

.subtitle {
    -fx-font-size: 16px;
}

.icon.INSTALLED {
    -fx-text-fill: #006f00;
}

.icon.MISSING {
    -fx-text-fill: #cd700d;
}

.icon.PROCESSING {
    -fx-text-fill: #0762d9;
}

.icon.UNKNOWN {
    -fx-text-fill: #7b0000;
}

.icon {
    -fx-font-size: 30px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-padding: 0px 0px 0px 7px;
}

.widget-title {
    -fx-font-weight: bold;
}

.header {
    -fx-padding: 10px;
}

.header .icon {
    -fx-font-size: 50px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-padding: 0px 0px 0px 7px;
}