.terminal, .terminal .content {
    -fx-background-color: black;
    -fx-text-fill: #2fc70f;
    -fx-highlight-text-fill: #034e0b;
    -fx-highlight-fill: #32e80c;
}

.welcome {
    -fx-font-size: 80px;
}

.title {
    -fx-font-size: 25px;
}

.subtitle {
    -fx-font-size: 20px;
}

.icon.INSTALLED {
    -fx-text-fill: #049ee7;
}

.icon.MISSING {
    -fx-text-fill: #aa0dcd;
}

.icon.FAILED {
    -fx-text-fill: #fa1313;
}

.icon.PROCESSING {
    -fx-text-fill: #0762d9;
}

.icon.UNKNOWN {
    -fx-text-fill: #7b0000;
}

.icon {
    -fx-font-size: 30px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.widget-title {
    -fx-font-weight: bold;
}

.header {
    -fx-padding: 10px;
}

.header .icon {
    -fx-font-size: 50px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-padding: 0px 0px 0px 7px;
}

.underlay {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-image: url("overlay2.png");
    -fx-background-position: left top;
    -fx-background-repeat: repeat;
    -fx-opacity: 1;
}

.overlay {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-image: url("overlay2.png");
    -fx-background-position: left top;
    -fx-background-repeat: repeat;
    -fx-opacity: 0.1;
}

* {
    -fx-text-fill: #f18600;
    -fx-font-family: "MisakiMincho", monospace;
}